body {
    font-family: 'Nunito', sans-serif;
    margin: center;
    background-color: #008080;
    /* you can delete the line below if you'd prefer to not use an image */
    background-size: 65px;
    color: #fceaff;
    /* background-image: var(--body-bg-image); */
}